/example_model_text-to-text/mymodules/__pycache__
/example1_model_text-to-text/mymodules/__pycache__
/example2_model_text-to-text/mymodules/__pycache__
/example1_model_word_n_to_word/mymodules/__pycache__
/example2_model_word_n_to_word/mymodules/__pycache__/
